* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    min-height: 100%;
}

body {
    min-width: 100%;
    /* min-height: 100dvh; */
    background-color: #0e0e10;
}

img {
    width: 100%;
    height: 100%;
}

.NavBarElement img {
    width: 60%;
    height: 60%;
}

body::-webkit-scrollbar {
    display: none;
}

.mainContainer {
    min-width: 100%;
    min-height: 100dvh;
    background-color: #0e0e10;
}

.leftNavBarContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.rightNavBarContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#SignIn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8rem;
    cursor: pointer;
    border-radius: 4px;
    height: 3rem;
    color: #efeff1;
    background-color: #53535F61;
    border: none;
}

#SignUp {
    width: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 4px;
    height: 3rem;
    color: #efeff1;
    background-color: #9147ff;
    border: none;
}

.navBarSearchContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35%;
}

#searchInputContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

#s1 {
    width: 35rem;
    padding: 6px;
    border-radius: 6px;
    background-color: #1f1f23;
    border: 2px solid gray;
}

.navBarContainer {
    top: 0;
    position: fixed;
    display: flex;
    flex-direction: row;
    min-width: 100%;
    height: 5rem;
    background-color: #1f1f23;
    align-items: center;
    justify-content: space-between;
    z-index: 2000;
}

.NavBarElement {
    display: flex;
    width: 5rem;
    height: 5rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.NavBarElement h2 {
    color: #efeff1;
}

#accountIcon {
    width: 50px;
    height: 50px;
    background-color: #1f1f23;
}

.red {
    width: 0.8rem;
    height: 0.8rem;
    background-color: red;
    border-radius: 0.4rem;
}

#newPrimeContainer {
    width: 3rem;
    height: 3rem;
}

.innerContainer {
    position: relative;
    display: flex;
    min-width: 100%;
    min-height: 100dvh;
    top: 5rem;
    background-color: #0e0e10;
}

.leftContentContainer {
    top: 5rem;
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 24rem;
    min-height: 100%;
    background-color: #1f1f23;
}

.rightContentContainer {
    width: 84%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 24rem;
    padding: 0 1.5rem;
}

.topContentContainer {

    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    min-height: 35rem;
}

.videoContainer {
    min-width: 100%;
    height: 30rem;
}

.topText {
    font-size: 2rem;
    font-weight: 600;
    color: white;
}

.topText a {
    color: #bf94ff;
    text-decoration: none;
}

.streamsContainer {
    display: flex;
    min-width: 100%;
    background-color: #0e0e10;
    min-height: 100%;
    height: 100%;
    flex-wrap: wrap;
}

.streamItem {
    height: 35%;
    max-height: 37rem;
    width: 30rem;
    max-width: 50%;
    /* max-height: 32%; */
    margin: 0.5rem;
    margin-top: 1rem;
}

.streamItemTop {
    width: 100%;
    /* max-height: 65%; */
    height: 65%;
}

.streamItemTop:hover {
    transition: ease 0.15s;
    border-bottom: 1rem solid #9147ff;
    border-left: 1rem solid #9147ff;
    transform: translate(1rem,-1rem);
}

.streamItemBottom {
    width: 100%;
    max-height: 35%;
    height: 35%;
}

.leftContent {
    display: inline-flex;
    justify-content: space-between;
}

.leftContent h2 {
    padding-top: 12px;
    color: #efeff1;
}

.leftContentItem {
    display: flex;
    align-items: center;
    justify-content: stretch;
}

.leftContentItem h2 {
    font-size: 18px;
    color: #efeff1;
}

.leftContentItem h3 {
    color: grey;
    font-size: 15px;
}

.leftContentItem h1 {
    font-size: 20px;
    color: #efeff1;
}

.streamContentItem {
    display: flex;
    align-items: center;
}

.streamContentItem h2 {
    font-size: 14px;
    color: grey;
}

.streamContentItem h3 {
    color: grey;
    font-size: 12px;
}

.streamContentItem h1 {
    margin-top: 1rem;
    font-size: 18px;
    color: #efeff1;
}

#s1:focus {
    outline: 2px solid #9147ff;
}


@media screen and (max-width:1500px) and (min-width:1025px) {
    .streamItem {
        min-width: 30%;
        min-height: 24rem;
        width: 25rem;
    }

    /* .leftContentContainer{
        width: 5rem;
    }
    .rightContentContainer{
        left:5rem;
        width: 96%;
    } */
}

@media screen and (max-width: 1024px) and (min-width:720px) {

    .navBarSearchContainer {
        width: 30rem;
    }

    #s1 {
        width: 25rem;
    }

    .streamItem {
        min-width: 48%;
        min-height: 24rem;
        max-width: 50%;
    }

    .leftContentContainer {
        width: 5rem;
    }

    .rightContentContainer {
        left: 5rem;
        width: 96%;
    }

    .leftContent h2 {
        display: none;
    }

    .leftContentItem h2,
    h3 {
        display: none;
    }
}

@media screen and (max-width:720px) {

    #searchInputContainer {
        display: none;
    }

    .navBarSearchContainer {
        justify-content: flex-end;
    }

    .streamsContainer {
        padding-right: 2rem;
    }

    .streamItem {
        max-width: 45%;
        min-height: 15rem;
        max-height: 25rem;
    }

    .streamItemTop {
        width: 100%;
        max-height: 55%;
        height: 55%;
    }

    .streamItemBottom {
        width: 100%;
        max-height: 45%;
        height: 45%;
    }

    .leftContentContainer {
        width: 5rem;
    }

    .rightContentContainer {
        left: 5rem;
        width: 96%;
    }

    .leftContent h2 {
        display: none;
    }

    .leftContentItem h2,
    h3 {
        display: none;
    }
}